* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Plus Jakarta Sans", sans-serif;
  color: #4e6e7e;
  font-weight: 500;
}

body {
  font-size: 1.6rem;
  height: 100vh;
  width: 100vw;
  background-color: #e4f4fd;

  display: grid;
  place-items: center;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
  font-family: inherit;
  color: inherit;
  font-size: inherit;
}
